body {
    display: grid;
    gap: 80px;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    justify-items: center;
}

h1 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

img {
    display: block;
}

.botao {
    align-items: center;
    padding: 15px 30px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: 700;
}


.titulo {
    display: flex;
    gap: 10px;
    justify-self: end;
    
}

.titulo h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
}

.subtitulo {
    font-size: 20px;
    font-weight: 300;
    color: #4A4A4A;
    text-align: right;
}

.titulo-subtitulo {
    display: grid;
    gap: 5px;
}

.descricao {
    font-size: 24px;
    font-weight: 400;
    color: #494949;
    text-align: right;
}

.pato {
    position: relative;
}

.pato img{
    position:absolute;
    bottom: 40px;
    left: 40px;
    width: calc(100% - 80px);
}
