body {
    display: grid;
    gap: 80px;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    justify-items: center;
}

h1 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

img {
    display: block;
}

.botao {
    align-items: center;
    padding: 15px 30px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
