.sortear {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    margin: 0px 140px;
    max-width: 1160px;
}

.sortear-informacoes {
    display: grid;
    gap: 20px;
}

.sorteio-produto{
    background-color: #D9D9D9;
    width: 100%;
    padding-top: 100%;
    position: relative;
    max-height: 560px;
    margin-bottom: 26px;
}

.sortear .botao {
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.sortear .preco {
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 500;
    font-size: 24px;
}

@media (max-width: 880px) {
    .sortear {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px 40px;
    }
}